
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');


* {
    font-family: 'Roboto', sans-serif;
}

html 
    background-color: black

#nprogress .bar {
  background: #FFBB00 !important;
  display: none;
}

#nprogress .peg {
  box-shadow: 0 0 10px #FFBB00, 0 0 5px #FFBB00;
  display: none;
}

#nprogress .spinner-icon {
  border-top-color: #FFBB00;
  border-left-color: #FFBB00;
  display: none;
}

.theme-container
  background-color: orange
  background: rgba(255,255,255,.25) url(/assets/background.png) center center no-repeat fixed !important;

article 
    font-size: 18px
    line-height: 150%
    color: rgba(255,255,255, .75)

.theme-default-content:not(.custom) {
    max-width:900px;
    position: relative;
    z-index: 1;
    padding-top 72px
}
.search-box input {
  width: 100% !important;
  height: 32px !important;
  color: #fff !important;
  display: inline-block;
  border: none !important;
  border-radius: 2rem;
  font-size: 16px !important;
  line-height: unset !important;
  padding: 0 !important;
  padding-left: 40px !important;
  outline: none;
  transition: all 0.2s ease;
  background: rgba(255,255,255,.25) url(/assets/img/search.83621669.svg) 16px 10px no-repeat !important;
  background-size: 1rem;
  box-sizing: border-box;
}

.search-box .suggestions{
  right:-2px;
  border:none !important;
  background: rgba(255,255,255,.25) !important;
  backdrop-filter: blur(10px);
  padding:0px !important;
}


.search-box 
  .suggestion
    line-height:40px !important;
    padding 0px !important
    padding-left:16px !important;
    a 
      .page-title
        font-weight: 400 !important;
        color:#fff;
        font-size:16px !important;

.search-box .suggestion.focused {
  background: rgba(12,255,255,.25) !important;

  a {
    .page-title {
      color: #0CFFFF !important;
      font-weight: 500 !important;
    }
  }
}


input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255,255,255,1);
  opacity: .75; /* Firefox */
  font-style: italic
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255,255,255,.75);
  font-style: italic
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255,255,255,.75);
  font-style: italic
}

@media (max-width: $MQNarrow) and (min-width: $MQMobile)
  .search-box .suggestions
    right: -2px !important;
    left:unset !important;
    width:542px !important;
    overflow: hidden !important;

  .search-box input
    border-radius:20px !important;


@media (max-width: $MQMobile)
  .search-box  .suggestions
    width: 100% !important;

  .search-box input
    left: 0px !important
    height: 40px !important
    background: rgba(255,255,255,0.25) url(/assets/img/search.83621669.svg) 24px 14px no-repeat !important;
    padding-left 48px !important;


/**Post page**/
.content__default h3 
  margin-bottom: 4px;
  margin-top 40px !important
  color:#fff;

.content__default h4
  margin-bottom: 4px
  color #fff;

.content__default h3 + p, .content__default h3 + ul, .content__default h4 + p, .content__default h4 + ul
  margin-top:0px;

.content__default blockquote
  border-left: 3px solid rgba(12,255,255,1);
  font-size:18px;
  color rgba(255,255,255,.55)
  margin-bottom 40px

  h4
    margin-top 0 !important

.content__default img
  margin-top 24px

.content__default sup, .content__default sub
  font-style: italic

.content__default a.header-anchor
  display: none