
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');


* {
    font-family: 'Roboto', sans-serif;
}

html 
    background-color: black

.theme-container
    background-color: black

article 
    font-size: 18px
    line-height: 150%
    color: rgba(255,255,255, .75)

.theme-default-content:not(.custom) {
    max-width:900px;
    position: relative;
    z-index: 1;
}